[DEFAULT]

#disabled_hardware_pollsters=network

hardware_inspector_configurations = {"snmp" : {"securityName": "public",
						"port":	161},
						"smart":{"port":8888}}

hardware_hosts={"10.0.0.1" : 
			{"disabled_pollsters": ["cpu"],
				"disabled_inspectors": ["snmp", "smart"],
				"inspector_configurations": {"snmp" : {"securityName": "public",
						"port":	161}}},
		"10.0.0.2" :{"disabled_inspectors": ["smart", "schubidu"],
			"disabled_pollsters": ["network"],
			"inspector_configurations": {"snmp" : {"securityName": "public",
						"port":	161},
						"smart":{"port":8888}}}}
				